@using MvcApplication3.Models
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="wrap">
    <div class="snack">
        <div class="sidebar">
            <div class="sidebar_body">
                <div class="sidebar_footer">
                    <span class="phone">
                        <span class="description">Звоните</span>
                        <span class="number">+7 (8152) 44-20-25</span>
                        <span class="number">+7 (8152) 78-20-25</span>
                    </span>

                    

                    <span class="copyright">&copy 2012-2014, ЕВРО-СТРОЙ<br />Производство и установка жалюзи и рулонных штор.</span>

                </div>
                <a href="/" rel="home" title="Производство и установка жалюзи и рулонных штор."><img src="/Content/themes/ictec/images/evrostroy.png" alt="AVALANZ &#8212; производим и устанавливаем жалюзи и рулонные шторы." /></a>
                <div class="menu-header">
                    <ul id="menu-menu" class="menu">
                        <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1"><a href="#vertical">Вертикальные жалюзи</a></li>
                        <li id="menu-item-2" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2"><a href="#roller">Рулонные шторы</a></li>
                        <li id="menu-item-3" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3"><a href="#horizontal">Горизонтальные жалюзи</a></li>
                        <li id="menu-item-4" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4"><a href="#premium">Премиум жалюзи и шторы</a></li>
                        <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a href="#natpotolki">Натяжные потолки</a></li>
                        <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7"><a href="#services">Услуги</a></li>
                        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a href="#about">О Компании</a></li>
                        <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="#contacts">Контакты</a></li>
                        <li style="text-align:center; padding-top:15px;">
                            <a href="https://vk.com/zhalyuzi_murmansk" target="_blank" style="display: inline; margin: 0 5px 0 0; padding: 0;">
                                <img src="/Content/themes/ictec/images/logo_vk.png" alt="Официальная группа Вконтакте" title="Официальная группа Вконтакте" width="40" />
                            </a>
                            <a href="https://www.youtube.com/user/potolkievrostroi" target="_blank" style="display: inline; margin: 0 0 0 5px; padding: 0; ">
                                <img src="/Content/themes/ictec/images/youtube_logo.png" alt="Канал Youtube" title="Канал Youtube" width="40" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_wrap">
            <div class="banner">
                <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                <div style="padding:10px 10px 0 0; text-align: right;" class="yashare-auto-init CatCountersBox" data-yasharel10n="ru"
                     data-yasharequickservices="yaru,vkontakte,facebook,twitter,odnoklassniki"
                     data-yasharetheme="counter">
                </div>
                <div class="banner_hover">
                    <h1>
                        ЖАЛЮЗИ
                        <span>В МУРМАНСКЕ</span>
                    </h1>
                </div>
            </div>
            <div class="content_body">
                <div class="ictec_highlights">
                    <ul>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/8.png" alt="Производим жалюзи." />
                                <span class="description">Производим жалюзи.</span>
                            </span>
                        </li>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/9.png" alt="Изготавливаем рулонные шторы." />
                                <span class="description">Изготавливаем рулонные шторы.</span>
                            </span>
                        </li>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/10.png" alt="Осуществляем замер и установку." />
                                <span class="description">Осуществляем замер и установку.</span>
                            </span>
                        </li>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/11.png" alt="Ремонтируем и настраиваем." />
                                <span class="description">Ремонтируем и настраиваем.</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content_body">
                <div class="OnlyText">

                    <h3 style="padding-top:0;">Все виды жалюзи и рулонных штор</h3>
                    <p>
                        Современные жалюзи становятся элементом декора окна, интерьера, и помимо своей непосредственной задачи - регулирование потока света, несут эстетическую нагрузку. Все чаще в жилых квартирах тяжелые портьеры и шторы заменяют на жалюзи, которые изготовлены из гипоаллергенных материалов, легки в уборке, долговечны и практичны.
                    </p>
                    <p>
                        Жалюзи на заказ в нашей компании это:<br />
                        <ul>
                            <li>минимальный срок изготовления</li>
                            <li>бесплатные консультации</li>
                            <li>еще дешевле постоянным и оптовым клиентам</li>
                            <li>вы конструируете дизайн вашего окна, а мы помогаем</li>
                        </ul>
                    </p>
                    <p>
                        Оформите заказ у нас и получите:<br />
                        <ul>
                            <li>бесплатные <strong>замеры</strong> окна</li>
                            <li>бесплатный <strong>подбор</strong> материалов по каталогу образцов</li>
                            <li>бесплатную <strong>доставку</strong> заказа в пределах города</li>
                            <li>в случае акций бесплатный <strong>монтаж</strong></li>
                        </ul>
                    </p>

                    <div class="banner_section slide3">zzz</div>
                    <h3 id="vertical">Вертикальные жалюзи от 450 рублей</h3>
                    <p>Тканевые или мультифактурные вертикальные жалюзи на окнах - это изысканная утонченность интерьера любого помещения. Богатая цветовая палитра и большой ассортимент фактур сделают выбор аксессуара для вашего окна легким и приятным.</p>

                    <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                        <div><img src="/Content/themes/ictec/images/gallery/vert/2.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/3.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/4.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/5.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/6.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/7.jpg" alt="" /></div>
                    </div>

                    <h4>Жалюзи под ключ:</h4>
                    <p>
                        <span class="button measurementAsk" _system="Вертикальные">Записаться на замер</span>
                        Статистика убедительно показывает, что вертикальные жалюзи являются самыми популярными на сегодняшний день. Они просты в уходе, изготавливаются из гипоаллергенных материалов, легки в управлении световым потоком, создают особый микроклимат и обладают демократичными ценами.<br /><br />
                        Богатство цветовой палитры позволяет выбрать жалюзи в тон интерьера или сделать их ярким акцентом помещения, выбрав необычный цвет или многофактурность. Решение зависит только от вашего желания.<br /><br />
                        Тяжелые шторы и портьеры всё чаще уступают место легким и изящным жалюзи. Разместите на их поверхности фото яркого кусочка лета или логотип своей компании. Создайте особую атмосферу в помещении, позаботьтесь о своем настроении и настроении своих сотрудников.<br /><br />
                        Выбирая вертикальные жалюзи, вы выбираете не только уют и комфорт, но и современное стильное украшение для окна.
                    </p>
                    <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <h4>Достоинства:</h4>
                                    <ul>
                                        <li>Возможность <strong>комбинирования</strong> нескольких цветов</li>
                                        <li>Большое количество <strong>фактур и оттенков</strong></li>
                                        <li>Различные варианты <strong>по пропускаемости света</strong></li>
                                    </ul>
                                </td>
                                <td>
                                    <h4>Для Вашего удобства</h4>
                                    <ul>
                                        <li>Каталог материалов &#8212; цвета и фактуры</li>
                                        <li>Подробные руководства по использованию</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="banner_section slide4">zzz</div>
                    <h3 id="roller">Рулонные шторы</h3>
                    <p>Изготавливаются по размерам стеклопакета или по размерам оконного проема, могут иметь короб, скрывающий направляющие и ткань или быть без него. Популярный вариант рулонных штор - "Зебра". Как правило, бывают двухцветными, чередование прозрачных и непрозрачных полос обеспечивает регулировку проникающего света.</p>
                    <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                        <div><img src="/Content/themes/ictec/images/gallery/roll/1.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/2.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/3.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/4.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/5.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/6.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/7.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/roll/8.jpg" alt="" /></div>
                    </div>
                    <h4>Шторы под ключ:</h4>
                    <p>
                        <span class="button measurementAsk" _system="Рулонные">Записаться на замер</span>
                        На вашем подоконнике растут великолепные цветы, вы любите спать с открытым окном, являетесь поклонником портьер и при этом хотите ограничить поступление света в комнату?<br /><br />
                        Отличное решение - рулонные шторы. Их конструкция может быть как с коробом по периметру окна, так и без него. Рулонные шторы плотно прилегают к поверхности стекла, отлично затемняя помещение, компактны, легко чистятся. На них, так же как и на вертикальные шторы, можно нанести любое изображение, например пейзаж или натюрморт.<br /><br />
                        Богатство цветовой палитры, фактур, текстур тканей делает ваш выбор своего варианта быстрым и приятным. Демократичные цены, качество и скорость изготовления, монтаж, выполненный специалистами - факторы, которые позволяют заказчикам становиться нашими постоянными клиентами!<br /><br />
                        Выбирайте лучшее и доверяйте работу профессионалам!
                    </p>
                    <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <h4>Основные преимущества</h4>
                                    <ul>
                                        <li>Простота и функциональность.</li>
                                        <li>Возможность использования видовых штор (с нанесением изображений)</li>
                                    </ul>
                                </td>
                                <td>
                                    <h4>Для Вашего удобства</h4>
                                    <ul>
                                        <li>Каталог тканей &#8212; цвета и фактуры</li>
                                        <li>Подробные руководства по использованию</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="banner_section slide2">zzz</div>
                    <h3 id="horizontal">Горизонтальные жалюзи</h3>
                    <p>Металлические или деревянные горизонтальные жалюзи – это изысканная утонченность интерьера любого помещения.</p>

                    <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                        <div><img src="/Content/themes/ictec/images/gallery/hor/1.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/hor/2.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/hor/3.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/hor/4.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/hor/5.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/hor/6.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/hor/7.jpg" alt="" /></div>
                    </div>

                    <h4>Жалюзи под ключ:</h4>
                    <p>
                        <span class="button measurementAsk" _system="Горизонтальные">Записаться на замер</span>
                        У нас вы можете купить готовые шторы и горизонтальные жалюзи по привлекательной стоимости, а также заказать жалюзи от производителя по размерам ваших окон. Для этого пригласите специалиста, который сделает замеры, ознакомит с существующими моделями и материалами ламелей и поможет оформить заказ. Мы предоставляем бесплатные консультации и предлагаем выгодные условия для постоянных и оптовых клиентов, чтобы вы смогли купить горизонтальные жалюзи недорого.
                    </p>
                    <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <h4>Основные преимущества</h4>
                                    <ul>
                                        <li>Качественные <strong>материалы</strong>, прошедшие сертификацию по европейским и российским стандартам</li>
                                        <li>Удобные <strong>способы управления</strong> ламелями</li>
                                        <li>Различные <strong>варианты установки</strong></li>
                                    </ul>
                                </td>
                                <td>
                                    <h4>Для Вашего удобства</h4>
                                    <ul>
                                        <li>Каталог материалов &#8212; цвета и фактуры</li>
                                        <li>Подробные руководства по использованию</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="banner_section slide1">zzz</div>
                    <h3 id="premium">Премиум жалюзи и шторы</h3>
                    <p>Премиум жалюзи и шторы – это изысканная утонченность интерьера любого помещения.</p>
                    <h4>Деревянные жалюзи</h4>
                    <p>
                        <span class="button measurementAsk" _system="Премиум">Записаться на замер</span>
                        Деревянные горизонтальные жалюзи это: отличный декор вашего окна в современном стиле и классической форме, особый микроклимат вашего помещения и экологическая безопасность. Деревянные жалюзи максимально просты в уходе, что позволяет использовать их как в гостиных, спальнях, так и на кухне вашего дома или квартиры.
                    </p>
                    <div class="spoiler1" style="display:none;">
                        <p>
                            Древесина, применяемая для изготовления жалюзи может быть различных пород, но обязательно - высокого качества. По вашему желанию деревянные жалюзи могут сохранять естественный оттенок или быть тонированы в нужный вам цвет.<br /><br />
                            Срок изготовления деревянных жалюзи составляет не менее 10 рабочих дней.<br /><br />
                            <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                        </p>
                    </div>
                    <p><a id="spoiler1" class="spoiler_button">развернуть...</a></p>

                    <h4>Мультифактурные жалюзи</h4>
                    <p>
                        Мультифактурные жалюзи - это индивидуальность и неповторимость вашего интерьера, это возможность создать особую, гармоничную атмосферу в помещении. Как правило в мультифактурных жалюзи используются ламели, изготовленные из различных материалов, выбор которых достаточно большой и может удовлетворить любой, самый взыскательный вкус.
                    </p>
                    <div class="spoiler2" style="display:none;">
                        <p>Создавая свой вариант мультифактурных жалюзи, вы можете использовать:</p>
                        <ul>
                            <li>плотный, глянцевый или бархатистый текстиль</li>
                            <li>пленку из поливинилхлорида различной структуры, в том числе зеркальной</li>
                            <li>дерево</li>
                        </ul>
                        <p>
                            Мультифактурные жалюзи вносят неповторимость не только в домашний интерьер, использование их в общественных и производственных помещениях создает особую атмосферу комфорта. Стильные, современные, оригинальные - вот лишь несколько эпитетов, которые сопутствуют словосочетанию - мультифактурные жалюзи. Если при выборе декора окна, вы остановите свой выбор именно на них - наши специалисты помогут вам подобрать цвет, фактуру ламелей, их сочетание, максимально учитывая ваши пожелания.<br /><br />
                            <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                        </p>
                    </div>
                    <p><a id="spoiler2" class="spoiler_button">развернуть...</a></p>

                    <h4>Шторы Плиссе</h4>
                    <p>
                        Шторы плиссе отличаются оригинальностью, отлично выполняют не только солнцезащитные функции , но и декоративные. Сочетание различных по фактуре тканей и волнистой поверхности создает в помещении неповторимый стиль, придает шторам особый шарм.
                    </p>
                    <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                        <div><img src="/Content/themes/ictec/images/gallery/plis/1.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/plis/2.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/plis/3.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/plis/4.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/plis/5.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/plis/6.jpg" alt="" /></div>
                    </div>
                    <div class="spoiler3" style="display:none;">
                        <p>Выбирая шторы плиссе, вы получаете:</p>
                        <ul>
                            <li>многообразие форм, моделей, типов управления, вариантов монтажа</li>
                            <li>гармоничное сочетание с традиционными портьерами</li>
                            <li>обширная коллекция тканей плиссе разнообразных цветов, текстур</li>
                            <li>легкость в установке и в управлении.</li>
                        </ul>
                        <p>
                            <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                        </p>
                    </div>
                    <p><a id="spoiler3" class="spoiler_button">развернуть...</a></p>

                    @{
                        Post PostSpoiler4 = (Post)ViewData["PostSpoiler4"];
                    }
                    <h4>
                        @if (PostSpoiler4.Title.IsEmpty())
                        {
                            <text>Шторы Зебра</text>
                        }
                        else {
                            @Html.Raw(PostSpoiler4.Title);
                        }
                    </h4>
                    @if (PostSpoiler4.Description.IsEmpty()){
                        <p>
                            Рулонные шторы "Зебра" - стильное решение для современных окон. Сочетают в себе удобство использования и привлекательный вид.
                        </p>
                    }
                    else {
                        @Html.Raw(PostSpoiler4.Description);
                    }
                    <div class="spoiler4" style="display:none; width:100%;">
                        @if (PostSpoiler4.Content.IsEmpty())
                        {
                            <p style="height: 250px; max-width: 800px; text-align:justify;">
                                <img style="float:left; height: 250px; margin-right: 20px;" src="/Content/themes/ictec/images/illustrations/zabra_collage.png" alt="" />
                                <span style="font-style:italic;">Второе название штор "Зебра" - "День и ночь". Получили их шторы за структуру ткани, из которой изготовлены - плотные полосы чередуются с сеткой. Регулировка светового потока осуществляется с помощью сдвига одних полос по отношению к другим. </span>
                            </p>
                            <p>
                                Вы ищете изящное решение для оформления окна - обратите внимание на рулонные шторы "День и ночь".
                            </p>
                            <p>
                                <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                            </p>
                        }
                        else
                        {
                            @Html.Raw(PostSpoiler4.Content);
                        }
                    </div>
                    <p><a id="spoiler4" class="spoiler_button">развернуть...</a></p>
                    
                    <h4>Фотопечать на жалюзи</h4>
                    <p>
                        Фотопечать можно нанести на вертикальные, горизонтальные, рулонные жалюзи или шторы плиссе. Специальные красители с богатой цветовой палитрой позволяют вам осуществить самые смелые желания - например, запечатлеть яркий кусочек лета и любоваться им среди долгой зимы. Или подарить любимой миллион алых роз. Или порадовать ребенка сюжетом из любимого малышом мультика.
                    </p>
                    <div class="spoiler5" style="display:none;">
                        <p>
                            Изображения, нанесенные на жалюзи:
                        </p>
                        <ul>
                            <li>обладают высокой стойкостью к выгоранию, атмосферным осадкам</li>
                            <li>не боятся влажной уборки моющими средствами</li>
                        </ul>
                        <p>
                            Цифровая фотопечать - прекрасный способ дополнительной рекламы своего бренда, услуг или продукции. Это - возможность создания собственного корпоративного стиля, это - эффективный маркетинговый ход и одновременно - непоторимый декор для ваших окон.<br /><br />
                            <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                        </p>
                    </div>
                    <p><a id="spoiler5" class="spoiler_button">развернуть...</a></p>

                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <h4>Основные преимущества</h4>
                                    <ul>
                                        <li>Качественные <strong>материалы</strong>, прошедшие сертификацию по европейским и российским стандартам</li>
                                        <li>Удобные <strong>способы управления</strong></li>
                                        <li>Различные <strong>варианты установки</strong></li>
                                    </ul>
                                </td>
                                <td>
                                    <h4>Для Вашего удобства</h4>
                                    <ul>
                                        <li>Каталог материалов &#8212; цвета и фактуры</li>
                                        <li>Подробные руководства по использованию</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="banner_section slide5">zzz</div>
                    <h3 id="services">Услуги</h3>
                    <ul>
                        <li>подберем материал вместе с Вами</li>
                        <li>сделаем точный замер</li>
                        <li>установим профессионально в удобное время</li>
                        <li>изделия с установкой доставим бесплатно</li>
                        <li>предоставим гарантию на изделия</li>
                        <li>произведем ремонт изделий</li>
                    </ul>

                    <h3 id="about">О компании</h3>
                    <p><a href="http://www.natpotolki.ru/" target="_blank">Компания «ЕВРО-СТРОЙ».</a>Компания «Евро-Строй» - первый в городе Мурманск завод интерьерных решений Avalanz, объединяющий в себе производство таких направлений, как натяжные потолки, жалюзи. Это позволяет Вам получить целый комплекс интерьерных услуг «в одном окне». Огромный опыт работы позволяет нам ответственно подойти к любому этапу – начиная от выбора материалов, заканчивая профессиональным производством и монтажом.</p>
                    <p>
                        Мурманск - город, в котором летнее солнце светит в окна горожан всю ночь, зимой же жители вынуждены освещать свои помещения с утра до самого позднего вечера.
                        Желание зашторить окно летом от яркого ночного солнца и зимой - от темных глаз полярной ночи осуществимо при помощи установленных на окно жалюзи.
                    </p>

                    <p>&nbsp;</p>
                    <div class="wpcf7" id="MeasurementForm" lang="ru-RU" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <p>&nbsp;</p>
                            <h4>Заявка на замер</h4>
                            <p>
                                <span class="your-name">
                                    <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
                                </span>
                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
                                </span>
                                <span class="wpcf7-form-control-wrap your-message">
                                    <textarea name="clientMessage" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Вопросы и комментарии"></textarea>
                                </span>
                                <input type="button" value="Отправить" class="wpcf7-form-control wpcf7-submit" />
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                    <div class="wpcf7" id="MeasurementFormDynamic" style="width:100%; display:none;">
                        <div class="screen-reader-response"></div>
                        <form action="/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <p>&nbsp;</p>
                            <h4 style="padding: 0; font-size: 24px; color: #333;">Заявка на замер</h4>
                            <p>
                                <input type="hidden" name="clientSystem" />
                            <p style="margin-top: 10px;">Укажите номер своего телефона и мы обязательно свяжемся с Вами.
                            <p>&nbsp;</p>
                            <span class="your-name">
                                <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
                            </span>
                            <span class="wpcf7-form-control-wrap your-email">
                                <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
                            </span>
                            <input type="button" value="Отправить" class="wpcf7-form-control wpcf7-submit" style="width:100%" />
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                    <h3 id="contacts">Контакты</h3>
                    <h5>Адрес:</h5>
                    <p>Мурманск, ул. Буркова/Книповича, 11/18 <img src="/Content/themes/ictec/images/pin.png" alt="pin" width="16" height="16" /></p>
                    <h5>Телефон:</h5>
                    <p>+7 (8152) 44-20-25</p>
                    <h5>Почта:</h5>
                    <p><strong><a href="mailto:Katerinich1@rambler.ru">Katerinich1@rambler.ru</a></strong></p>
                </div>
            </div>

            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=460"></script>

            <div class="content_body">
                <table style="width:100%;">
                    <tr>
                        <td style="width:50%;">
                            <div class="OnlyText">
                                <h5>Адрес:</h5>
                                <p>Мурманск, ТД Рекома, Кольский пр. 51/2 <img src="/Content/themes/ictec/images/pin.png" alt="pin" width="16" height="16" /></p>
                                <h5>Телефон:</h5>
                                <p>+7 (8152) 78-20-25</p>
                            </div>
                        </td>
                        <td style="width:50%; text-align:right;">
                            <img src="/Content/themes/ictec/images/bus.jpg" height="250" />
                        </tdstyle>
                    </tr>
                </table>
                
            </div>

            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=IvnRIpsJolPbEIfJDyfKK2gNIvo5TO7w&height=460"></script>

        </div>
    </div>
</div>