@using MvcApplication3.Models
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="wrap">
    <div class="snack">
        <div class="sidebar">
            <div class="sidebar_body">
                <div class="sidebar_footer">
                    <span class="phone">
                        <span class="description">Звоните</span>
                        <span class="number">+7 (8152) 44-20-25</span>
                        <span class="number">+7 (8152) 78-09-09</span>
                    </span>

                    

                    <span class="copyright">&copy 2012-2015, ЕВРО-СТРОЙ<br />Производство и установка рулонных штор и жалюзи в Мурманске.</span>

                </div>
                <a href="/" rel="home" title="Производство и установка жалюзи и рулонных штор."><img src="/Content/themes/ictec/images/evrostroy.png" style="height: 70px;" alt="«Облако» &#8212; производим и устанавливаем жалюзи и рулонные шторы." /></a>
                <div class="menu-header">
                    <ul id="menu-menu" class="menu">
                        <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1"><a href="#vertical">Вертикальные жалюзи</a></li>
                        <li id="menu-item-2" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2"><a href="#roller">Рулонные шторы</a></li>
                        <li id="menu-item-3" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3"><a href="#horizontal">Горизонтальные жалюзи</a></li>
                        <li id="menu-item-4" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4"><a href="#premium">Премиум жалюзи и шторы</a></li>
                        <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a href="#rollets">Роллеты</a></li>
                        <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a href="#natpotolki">Натяжные потолки</a></li>
                        <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7"><a href="#services">Услуги</a></li>
                        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a href="#about">О Компании</a></li>
                        <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="#contacts">Контакты</a></li>
                        <li style="text-align:center; padding-top:15px;">
                            <a href="https://vk.com/zhalyuzi_murmansk" target="_blank" style="display: inline; margin: 0 5px 0 0; padding: 0;">
                                <img src="/Content/themes/ictec/images/logo_vk.png" alt="Официальная группа Вконтакте" title="Официальная группа Вконтакте" width="40" />
                            </a>
                            <a href="https://www.youtube.com/user/potolkievrostroi" target="_blank" style="display: inline; margin: 0 0 0 5px; padding: 0; ">
                                <img src="/Content/themes/ictec/images/youtube_logo.png" alt="Канал Youtube" title="Канал Youtube" width="40" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_wrap">

            <div class="akcia3_wrap">
                <div class="akcia3" style="display:inline-block;">
                    <a class="title" href="#"><img src="/Content/themes/ictec/images/icons/percent6.png"></img><span>Скидка&nbsp;для&nbsp;своих</span></a>
                    <div class="dropdown">
                        <div class="dropdown_content">
                            <b>Скидка</b> предоставляется для участников группы <a href="https://vk.com/zhalyuzi_murmansk" target="_blank">в&nbsp;контакте</a> или при заказе с сайта
                        </div>
                    </div>
                </div>
                <div class="akcia3" >
                    <a class="title" href="#"><img src="/Content/themes/ictec/images/icons/percent10.png"></img><span>Социальная&nbsp;скидка</span></a>
                    <div class="dropdown">
                        <div class="dropdown_content">
                            <b>Скидка</b> предоставляется пенсионерам, ветеранам ВОВ, инвалидам при предъявлении подтверждающих документов.
                        </div>
                    </div>
                </div>
                <div class="akcia3">
                    <a class="title" href="#"><img src="/Content/themes/ictec/images/icons/percent30.png"></img><span>Для&nbsp;экономных</span></a>
                    <div class="dropdown">
                        <div class="dropdown_content">
                            Шторы и жалюзи со скидкой (наличие уточняйте у менеджеров)
                        </div>
                    </div>
                </div>
                <div class="akcia3">
                    <a class="title" href="#"><img src="/Content/themes/ictec/images/icons/percent.png"></img><span>Постоянным&nbsp;клиентам</span></a>
                    <div class="dropdown">
                        <div class="dropdown_content">
                            подарки при установке нескольких штор или жалюзи
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner">
                @*<!--https://tech.yandex.ru/share-->
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div style="text-align:right; padding-top:10px;" class="ya-share2" data-services="vkontakte,facebook,odnoklassniki"></div>*@

                <div class="banner_hover">
                    <h1>
                        ЖАЛЮЗИ
                        <span>В МУРМАНСКЕ</span>
                    </h1>
                </div>
            </div>
            <div class="content_body">
                <div class="ictec_highlights">
                    <ul>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/9.png" alt="Производим жалюзи." />
                                <span class="description">Производим жалюзи.</span>
                            </span>
                        </li>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/8.png" alt="Изготавливаем рулонные шторы." />
                                <span class="description">Изготавливаем рулонные шторы.</span>
                            </span>
                        </li>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/10.png" alt="Осуществляем замер и установку." />
                                <span class="description">Осуществляем замер и установку.</span>
                            </span>
                        </li>
                        <li>
                            <span class="ictec_highlights_body">
                                <img src="/Content/themes/ictec/images/icons/11.png" alt="Ремонтируем и настраиваем." />
                                <span class="description">Ремонтируем и настраиваем.</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content_body">
                <div class="OnlyText">

                    <h2 style="padding-top:0;">Все виды жалюзи и рулонных штор</h2>
                    <p>
                        Современные системы регулирования света  стали красивыми элементами декора окон. Легкие и изящные жалюзи всё чаще заменяют собой тяжелые портьеры. Своей популярностью жалюзи и рулонные шторы обязаны тканям из гипоаллергенных материалов, легкостью в уборке, практичностью.
                    </p>
                    <p>
                        Мы знаем, как реализовать задуманное вами и предлагаем жалюзи под ключ с установкой:<br />
                        <ul>
                            <li>изготовление в течение 1 дня</li>
                            <li>социальные скидки до 10%</li>
                            <li>постгарантийное обслуживание</li>
                        </ul>
                    </p>
                    <p>
                        Постгарантийное обслуживание включает в себя  консультации по уходу, регулировку и ремонт жалюзи по окончании гарантийного срока.
                    </p>
                    <p>
                        Оформите заказ у нас и получите:<br />
                        <ul>
                            <li>бесплатные <strong>доставку и монтаж</strong> в пределах города</li>
                            <li>бесплатные <strong>консультации по интерьеру</strong></li>
                            <li><strong>бонусы от монтажников</strong></li>
                        </ul>
                    </p>

<span class="likeH3" id="jselector">Конструктор (подберите тип, цвет ваших жалюзи)</span>
<section class="tabs">
	<input id="tab_1" type="radio" name="tab" checked="checked" />
	<input id="tab_2" type="radio" name="tab" />
	<style>
		    .dharma{
				float: none !important;
			    background: #69b9cd url(/content/themes/ictec/images/icons/elita.png) 50% 75% no-repeat !important;
    			padding: 35px 10px 10px 10px !important;
    			margin: 12px 0 0 0 !important;
    			width: 130px;
    			height: 103px;
				text-align: center;
			}
	</style>
	<span class="button measurementAsk dharma" _system="Вертикальные">Записаться на замер</span>
	
	<label for="tab_1" id="tab_l1"><img src="/Services/jaluzi/img/1.jpg" height="150"></label>
	<label for="tab_2" id="tab_l2"><img src="/Services/jaluzi/img/2.jpg" height="150"></label>
	<br><br><br>
	<div style="clear:both"></div>

	<div class="tabs_cont">
		<div id="tab_c1"><center><iframe src="/Services/jaluzi/1/index.html" width="1040" height="850" frameborder="0" scrolling="no" allowtransparency></iframe></center></div>
		<div id="tab_c2"><center><iframe src="/Services/jaluzi/2/index.html" width="1040" height="850" frameborder="0" scrolling="no" allowtransparency></iframe></center></div>
		
	</div>
</section>

                    <div class="banner_section slide3">zzz</div>
                    <h3 id="vertical">Вертикальные жалюзи</h3>
                    <p>Вертикальные жалюзи на окнах – замечательное изобретение, которое украшает окна детских комнат, кабинетов, гостиных.</p>
                    <p>Различная светопроницаемость полотен, цветовая гамма от слоновой кости до синего кобальта, фактуры, имитирующие изысканные ткани – всё это поможет вам легко выбрать лучшее решение для декора окна.</p>
                    <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                        <div><img src="/Content/themes/ictec/images/gallery/vert/2.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/3.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/4.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/5.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/6.jpg" alt="" /></div>
                        <div><img src="/Content/themes/ictec/images/gallery/vert/7.jpg" alt="" /></div>
                    </div>
                    <h4>Достоинства вертикальных жалюзи</h4>
                        <p>
                            <span class="button measurementAsk" _system="Вертикальные">Записаться на замер</span>
                            Статистика убедительно показывает – вертикальные жалюзи самые популярные на сегодняшний день. Они просты в уходе, обладают демократичными ценами и в наименьшей степени  страдают от домашних животных.  Легко управляя количеством света, создавая комфорт, вертикальные жалюзи удачно дополняют и офисные помещения,  и жилые. Каталог, содержащий более 400 образцов тканей, позволит вам выбрать жалюзи в тон  интерьера или сделать их ярким акцентом помещения. Хотите привнести необычности в интерьер комнаты – закажите жалюзи с фотопечатью:
                        </p>
                        <ul>
                            <li>например, логотип компании, размещенный на вертикальных жалюзи, скажет клиентам о вашем внимании к деталям</li>
                            <li>веселые герои мультиков или сказочные персонажи украсят детскую комнату</li>
                            <li>яркие мгновения, сохраненные на фотографиях и напечатанные на жалюзи, будут радовать вас и напоминать о приятных впечатлениях</li>
                        </ul>
                        <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="60%">
                                        <h4>Основные преимущества:</h4>
                                        <ul>
                                            <li><strong>фактуры</strong>, с обычным переплетением нитей или имитирующие дорогие ткани</li>
                                            <li>возможность <strong>комбинирования</strong> нескольких цветов и фактур</li>
                                            <li>наименее других страдают от домашних  животных</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <h4>Для Ваc</h4>
                                        <ul>
                                            <li>Каталог, содержащий более 400 образцов тканей</li>
                                            <li>Подробные руководства по использованию жалюзи</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="banner_section slide4">zzz</div>
                        <h3 id="roller">Рулонные шторы</h3>
                        <p>Любите минимализм – рулонные шторы для вас!</p>
                        <p>Их конструкция может быть как с коробом по периметру окна, так и без него. Рулонные шторы плотно прилегают к поверхности стекла, отлично затемняя помещение, компактны, легко чистятся. На них, так же как и на вертикальные жалюзи, возможно нанести любое изображение, например пейзаж или натюрморт.</p>
                        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                            <div><img src="/Content/themes/ictec/images/gallery/roll/1.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/2.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/3.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/4.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/5.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/6.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/7.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/roll/8.jpg" alt="" /></div>
                        </div>
                        <h4>Достоинства рулонных штор</h4>
                        <p>
                            <span class="button measurementAsk" _system="Рулонные">Записаться на замер</span>
                            Кому мы рекомендуем рулонные шторы:
                        </p>
                        <ul>
                            <li>цветоводам, чьи подоконники украшены великолепными цветами</li>
                            <li>любителям спать в полумраке, с открытыми окнами</li>
                            <li>желающим расстаться с тяжелыми портьерами и при этом защитить окна от посторонних взглядов</li>
                        </ul>
                        <p>Рулонные жалюзи помогут вам быстро создать легкий полумрак или полную темноту в помещении. Чтобы ваш выбор был удобным и комфортным, наш каталог содержит более 100 цветов и оттенков, полупрозрачные ткани и ткани блэкаут.</p>
                        <p>Демократичные цены, качество,  срочное изготовление в течение 2х часов, монтаж, выполненный специалистами, скидки и бонусы - факторы, которые позволяют заказчикам становиться нашими постоянными клиентами! Выбирайте лучшее, доверяя работу профессионалам!</p>
                        <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="60%">
                                        <h4>Основные преимущества</h4>
                                        <ul>
                                            <li>Компактность и функциональность</li>
                                            <li>Возможность создания полного затемнения</li>
                                            <li>Сочетаемость с тюлем и шторами</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <h4>Для Ваc</h4>
                                        <ul>
                                            <li>Каталог, содержащий более 400 образцов тканей</li>
                                            <li>Подробные руководства по использованию штор</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="banner_section slide2">zzz</div>
                        <h3 id="horizontal">Горизонтальные жалюзи</h3>
                        <p>Горизонтальные жалюзи по достоинству оценят любители строгих линий и приверженцы традиций. Размещение ламелей в горизонтальном положении позволит вам использовать жалюзи как самостоятельное украшение окна, так и  в сочетании с тюлем и шторами.</p>
                        <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                            <div><img src="/Content/themes/ictec/images/gallery/hor/1.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/hor/2.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/hor/3.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/hor/4.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/hor/5.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/hor/6.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/hor/7.jpg" alt="" /></div>
                        </div>
                        <h4>Достоинства горизонтальных жалюзи</h4>
                        <p>
                            <span class="button measurementAsk" _system="Горизонтальные">Записаться на замер</span>
                            Цветовая гамма,  от пастельных до ярких и насыщенных цветов,  делает горизонтальные жалюзи популярными и востребованными.
                        </p>
                        <p>Для нежилых помещений наиболее подходят металлические или пластиковые жалюзи. В жилых - лучше устанавливать деревянные.</p>
                        <p>Горизонтальные жалюзи могут крепиться:</p>
                        <ul>
                            <li>над оконным проемом</li>
                            <li>над оконной рамой</li>
                            <li>внутри стеклопакета или рамы</li>
                        </ul>
                        <p>
                            Остановите свой выбор на горизонтальных жалюзи и наши сотрудники, максимально учитывая ваши пожелания,  помогут  подобрать цвет, фактуру ламелей, их сочетание и способ установки.
                        </p>
                        <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="60%">
                                        <h4>Основные преимущества</h4>
                                        <ul>
                                            <li>Элементарный уход губкой и мыльной водой</li>
                                            <li>Надежная и легкая в управлении система вращения ламелей</li>
                                            <li>Различные способы установки</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <h4>Для Ваc</h4>
                                        <ul>
                                            <li>Каталог, содержащий образцы ламелей</li>
                                            <li>Подробные руководства по использованию жалюзи</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="banner_section slide1">zzz</div>
                        <h3 id="premium">Премиум жалюзи и шторы</h3>
                        <p>Деревянные, мультифактурные жалюзи, шторы плиссе - это изысканная утонченность интерьера любого помещения.</p>
                        <h4>Деревянные жалюзи</h4>
                        <p>
                            <span class="button measurementAsk" _system="Премиум">Записаться на замер</span>
                            Горизонтальные жалюзи  из дерева это:
                            <ul>
                                <li>экологическая безопасность</li>
                                <li>особый микроклимат помещения</li>
                                <li>строгий  декор вашего окна в современном стиле и классической форме</li>
                            </ul>
                        </p>
                        <div class="spoiler1" style="display:none;">
                            <p>
                                Деревянные жалюзи  максимально просты в уходе,  что позволяет использовать их во всех помещениях вашего дома или квартиры. Древесина, применяемая для изготовления жалюзи, может быть различных пород, но обязательно - высокого качества. По вашему желанию деревянные жалюзи могут сохранять естественный оттенок или быть тонированы в нужный вам цвет.<br/> Срок изготовления деревянных жалюзи составляет не менее 10 рабочих дней.<br /><br />
                                <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                            </p>
                        </div>
                        <p><a id="spoiler1" class="spoiler_button">развернуть...</a></p>

                        <h4>Мультифактурные жалюзи</h4>
                        <p>
                            Мультифактурные жалюзи – это сочетание ламелей, изготовленных из различных по свойствам и цвету материалов.  Ультрамариновый «Альбион», в сочетании с «Опалом» и в обрамлении золотистой пленки,  добавит экспрессии в интерьер. Выразительная "Харизма" и мягкие линии "Волны" в сочетании с ярким «Апельсином» - сочетание для комнаты в бежевых тонах.
                        </p>
                        <p>Создавая свой вариант мультифактурных жалюзи, вы можете использовать:</p>
                        <ul>
                            <li>плотный, глянцевый или бархатистый текстиль</li>
                            <li>пленку ПВХ, различных структур, в том числе зеркальную</li>
                            <li>дерево</li>
                        </ul>
                        <div class="spoiler2" style="display:none;">
                            <p>Создавая свой вариант мультифактурных жалюзи, вы можете использовать:</p>
                            <ul>
                                <li>плотный, глянцевый или бархатистый текстиль</li>
                                <li>пленку из поливинилхлорида различной структуры, в том числе зеркальной</li>
                                <li>дерево</li>
                            </ul>
                            <p>
                                Мультифактурные жалюзи выдержанные в строгой цветовой гамме создадут деловую атмосферу в кабинете руководителя.<br /><br />
                                Изготовленные из ламелей в голубых и бежевых оттенках и установленные в комнате переговоров, помогут расположить клиента и создать доброжелательную атмосферу.<br /><br />
                                Мультифактурные жалюзи, размещенные в одной из комнат квартиры, избавят вас от необходимости вешать портьеры или гардины и станут эффектным украшением окон.<br /><br />
                                <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                            </p>
                        </div>
                        <p><a id="spoiler2" class="spoiler_button">развернуть...</a></p>

                        <h4>Шторы Плиссе</h4>
                        <p>
                            Шторы плиссе – оригинальные легкие конструкции, выполняют одновременно  солнцезащитные функции и декоративные. Сочетание различных по фактуре тканей и волнистой поверхности придает помещению особый шарм, добавляет уюта и комфорта.
                        </p>
                        <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                            <div><img src="/Content/themes/ictec/images/gallery/plis/1.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/plis/2.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/plis/3.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/plis/4.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/plis/5.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/plis/6.jpg" alt="" /></div>
                        </div>
                        <div class="spoiler3" style="display:none;">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td width="60%">
                                            <h4>Основные преимущества</h4>
                                            <ul>
                                                <li>Высокая вариативность</li>
                                                <li>Гармоничное сочетание с традиционными портьерами</li>
                                                <li>Легкость в установке и управлении</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <h4>Для Ваc</h4>
                                            <p>
                                                «Розовый лен» и лиловый «Ноктюрн»,  белый «Орегон» и ярко-синий «Престиж», перламутровая «Тафта» или цветастый «Лужок».
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                           
                            <p>
                                <strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong>
                            </p>
                        </div>
                        <p><a id="spoiler3" class="spoiler_button">развернуть...</a></p>

                        @{
                            Post PostSpoiler4 = (Post)ViewData["PostSpoiler4"];
                        }
                        <h4>
                            @if (PostSpoiler4.Title.IsEmpty())
                            {
                                <text>Шторы Зебра</text>
                            }
                            else
                            {
                                @Html.Raw(PostSpoiler4.Title);
                            }
                        </h4>
                        @if (PostSpoiler4.Description.IsEmpty())
                        {
                            <p>
                                Рулонные шторы "Зебра" - стильное решение для современных окон. Сочетают в себе удобство использования и привлекательный вид.
                            </p>
                            <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                                <div><img src="/Content/themes/ictec/images/gallery/zebra/1.jpg" alt="" /></div>
                                <div><img src="/Content/themes/ictec/images/gallery/zebra/2.jpg" alt="" /></div>
                                <div><img src="/Content/themes/ictec/images/gallery/zebra/3.jpg" alt="" /></div>
                                <div><img src="/Content/themes/ictec/images/gallery/zebra/4.jpg" alt="" /></div>
                            </div>
                        }
                        else
                        {
                            @Html.Raw(PostSpoiler4.Description);
                        }
                        <div class="spoiler4" style="display:none; width:100%;">
                            @if (PostSpoiler4.Content.IsEmpty())
                            {
                                <p style="text-align: justify;">
                                    <span style="font-style: italic;">Второе название штор "Зебра" - "День и ночь". Получили их шторы за структуру ткани, из которой изготовлены - плотные полосы чередуются с сеткой. Регулировка светового потока осуществляется с помощью сдвига одних полос по отношению к другим.</span>
                                </p>
                                <p style="text-align: justify;">Вы ищете изящное решение для оформления окна - обратите внимание на рулонные шторы "День и ночь".</p>
                                <p style="text-align: justify;">
                                    <img class="alignnone wp-image-271" src="http://wp.natpotolki.ru/wp-content/uploads/2015/02/IMG_8794_новый-размер.jpg" alt="Жалюзи День-Ночь" width="305" height="203" />
                                    <img class="alignnone wp-image-272" src="http://wp.natpotolki.ru/wp-content/uploads/2015/02/IMG_8795_новый-размер.jpg" alt="Новинка! Жалюзи &quot;Зебра&quot;." width="303" height="202" />
                                </p>
                                <p style="text-align: left;"><strong style="color: #52a2b6;">*узнайте больше - 44-20-25</strong></p>
                            }
                            else
                            {
                                @Html.Raw(PostSpoiler4.Content);
                            }
                        </div>
                        <p><a id="spoiler4" class="spoiler_button">развернуть...</a></p>

                        <h4>Фотопечать на жалюзи</h4>
                        <p>
                            Если вы хотите иметь необычные жалюзи – украсьте их фотопечатью! Подчеркните особенности вашего интерьера, расставьте яркие акценты.<br/><br/>
                        </p>
                        <p>Нанесите на жалюзи фото, хранящее яркие мгновения вашей жизни. Используйте возможность сделать оригинальный и незабываемый подарок, например - миллион неувядающих роз на вертикальных жалюзи. Фотопечать выполняется красителями, устойчивыми к воздействию внешних факторов и разрешенными к использованию внутри помещений.</p>
                        @*<div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                            <div><img src="/Content/themes/ictec/images/gallery/photo/1.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/photo/2.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/photo/3.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/photo/4.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/photo/5.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/photo/6.jpg" alt="" /></div>
                        </div>*@
                        <p>
                            Выбирайте изображение для арт-печати из <a href="https://vk.com/album-61849112_208551476" target="_blank">нашей коллекции</a> и наполняйте жизнь яркими красками!
                        </p>
                        @*<div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                            <div><img src="/Content/themes/ictec/images/gallery/alb/1.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/3.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/4.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/5.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/6.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/7.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/8.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/9.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/10.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/alb/11.jpg" alt="" /></div>
                        </div>
                        <div class="spoiler5" style="display:none;">
                            <p>
                                Изображения, нанесенные на жалюзи:
                            </p>
                            <ul>
                                <li>обладают высокой стойкостью к выгоранию, атмосферным осадкам</li>
                                <li>не боятся влажной уборки моющими средствами</li>
                            </ul>
                            <p>
                                Цифровая фотопечать - прекрасный способ дополнительной рекламы своего бренда, услуг или продукции. Это - возможность создания собственного корпоративного стиля, это - эффективный маркетинговый ход и одновременно - непоторимый декор для ваших окон.<br /><br />
                                <strong style="color:#52a2b6">*узнайте больше - 44-20-25</strong>
                            </p>
                        </div>
                        <p><a id="spoiler5" class="spoiler_button">развернуть...</a></p>*@

                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="60%">
                                        <h4>Основные преимущества</h4>
                                        <ul>
                                            <li>Качественные <strong>материалы</strong>, прошедшие сертификацию по европейским и российским стандартам</li>
                                            <li>Индивидуальность и уникальность</li>
                                            <li>Вариативность и сочетаемость</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <h4>Для Ваc</h4>
                                        <ul>
                                            <li>Коллекция изображений на различные тематики</li>
                                            <li>Подробные руководства по использованию</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="banner_section slide6">zzz</div>
                        <h3 id="rollets">Роллеты</h3>
                        <p>Рольставни - это и автоматические ворота, и защита на окна, и, в некоторых случаях, декоративные украшения дома.</p>
                        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
                            <div><img src="/Content/themes/ictec/images/gallery/rollets/1.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/rollets/2.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/rollets/3.jpg" alt="" /></div>
                            <div><img src="/Content/themes/ictec/images/gallery/rollets/4.jpg" alt="" /></div>
                        </div>
                        <h4>Рольставни под ключ:</h4>
                        <p>
                            <span class="button measurementAsk" _system="Роллеты">Записаться на замер</span>
                            Роллетные системы долговечны, эстетичны,благодаря современным композитным материалам.<br />
                            К декоративным относятся пластиковые и деревянные роллеты, которые обеспечивают защиту от яркого света, пыли и, частично, от шума.<br />
                            Алюминиевые или стальные роллетные системы в полной мере защищают не только от климатических факторов, но и от взлома.
                        </p>
                        <p>
                            Их используют в качестве гаражных ворот, защиты дверных и оконных проемов. Способ крепления предпочтительно встроенный, он в наибольшей степени
                            обеспечивает безопасность.<br />
                            Специалисты завода "Облако" изготовят для вас как декоративные варианты роллет, так и надежные охранные системы.
                        </p>
                        <p>
                            Приглашение на замеры, оформленное на сайте, дает вам скидку - 6%!
                        </p>
                        <p><strong style="color:#52a2b6">*узнайте больше - 44-20-25@*<a href="/Content/uploads/price.pdf" target="_blank">Прайс-лист</a>*@</strong></p>

                        <div class="banner_section slide5">zzz</div>
                        <span class="likeH3" id="services">Услуги</span>
                        <ul>
                            <li>подберем материал вместе с Вами</li>
                            <li>сделаем точный замер</li>
                            <li>установим профессионально в удобное время</li>
                            <li>изделия с установкой доставим бесплатно</li>
                            <li>предоставим гарантию на изделия</li>
                            <li>произведем ремонт изделий</li>
                        </ul>

                        <span class="likeH3" id="about">О компании</span>
                        <p><a href="http://www.natpotolki.ru/" target="_blank">Компания «ЕВРО-СТРОЙ».</a>Компания «Евро-Строй» - первый в городе Мурманск завод интерьерных решений "Облако", объединяющий в себе производство таких направлений, как натяжные потолки, жалюзи. Это позволяет Вам получить целый комплекс интерьерных услуг «в одном окне». Огромный опыт работы позволяет нам ответственно подойти к любому этапу – начиная от выбора материалов, заканчивая профессиональным производством и монтажом.</p>
                        <p>
                            Мурманск - город, в котором летнее солнце светит в окна горожан всю ночь, зимой же жители вынуждены освещать свои помещения с утра до самого позднего вечера.
                            Желание зашторить окно летом от яркого ночного солнца и зимой - от темных глаз полярной ночи осуществимо при помощи установленных на окно жалюзи.
                        </p>
                        <p>
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:50%; text-align:center;">
                                        <img class="SingleImage" style="height:250px; cursor:pointer;" src="/Content/themes/ictec/images/manager1.jpg" />
                                    </td>
                                    <td style="width:50%; text-align:center;">
                                        <img class="SingleImage" style="height:250px; cursor:pointer;" src="/Content/themes/ictec/images/manager2.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </p>

                        <!--span class="likeH3" id="about">Партнеры</span>
        <p>
            <a href="http://www.galadekor.ru/" target="_blank"><img src="/Content/themes/ictec/images/gdv.jpg" alt="Гала-Декор" /></a>
            <a href="http://www.galadekor.ru/" target="_blank"><img src="/Content/themes/ictec/images/gdv1.jpg" alt="Гала-Декор" /></a>
        </p-->

                        <div class="wpcf7" id="MeasurementForm" lang="ru-RU" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <p>&nbsp;</p>
                                <h4>Заявка на замер</h4>
                                <p>
                                    <span class="your-name">
                                        <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
                                    </span>
                                    <span class="wpcf7-form-control-wrap your-email">
                                        <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
                                    </span>
                                    <span class="wpcf7-form-control-wrap your-email">
                                        <input type="tel" name="clientEmail" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Email" />
                                    </span>
                                    <span class="wpcf7-form-control-wrap your-message">
                                        <textarea name="clientMessage" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Вопросы и комментарии"></textarea>
                                    </span>
                                    <input type="button" value="Отправить" class="wpcf7-form-control wpcf7-submit" />
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                        <div class="wpcf7" id="MeasurementFormDynamic" style="width:100%; display:none;">
                            <div class="screen-reader-response"></div>
                            <form action="/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <p>&nbsp;</p>
                                <h4 style="padding: 0; font-size: 24px; color: #333;">Заявка на замер</h4>
                                <p>
                                    <input type="hidden" name="clientSystem" />
                                <p style="margin-top: 10px;">Укажите номер своего телефона и мы обязательно свяжемся с Вами.</style>
                                <p>&nbsp;</p>
                                <span class="your-name">
                                    <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
                                </span>
                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
                                </span>
                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="tel" name="clientEmail" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Email" />
                                </span>
                                <input type="button" value="Отправить" class="wpcf7-form-control wpcf7-submit" style="width:100%" />
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                        <span class="likeH3" id="contacts">Контакты</span>
                        <span class="likeH5 contacts2">Адрес:</span>
                        <p>Мурманск, ул. Буркова/Книповича, 11/18 <img src="/Content/themes/ictec/images/pin.png" alt="pin" width="16" height="16" /></p>
                        <span class="likeH5 contacts2">Телефон:</span>
                        <p>+7 (8152) 44-20-25</p>
                        <span class="likeH5 contacts2">Почта:</span>
                        <p><strong><a href="mailto:Katerinich1@rambler.ru">Katerinich1@rambler.ru</a></strong></p>
</div>
            </div>

            <!--Конструктор: https://tech.yandex.ru/maps/tools/constructor/-->
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=460"></script>

            <div class="content_body">

                <table style="width:100%;">
                    <tr>
                        <td style="width:50%;">
                            <div class="OnlyText">
                                <span class="likeH5 contacts2">Адрес:</span>
                                <p>Мурманск, ул. Самойловой, 1 <img src="/Content/themes/ictec/images/pin.png" alt="pin" width="16" height="16" /></p>
                                <span class="likeH5 contacts2">Телефон:</span>
                                <p>+7 (8152) 78-09-09</p>
                            </div>
                        </td>
                        <td style="width:50%; text-align:right;">
                            <img class="SingleImage" style="height:250px; cursor:pointer;" src="/Content/themes/ictec/images/bus.jpg" />
                        </td>
                    </tr>
                </table>
            </div>

            <!--script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=IvnRIpsJolPbEIfJDyfKK2gNIvo5TO7w&height=460"></script-->
            
            <!--Конструктор: https://tech.yandex.ru/maps/tools/constructor/-->
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gkZM7U_Es2X47D1IFPu91hdYhr7rFtQn&height=460"></script>

        </div>
    </div>
</div>